@CHARSET "UTF-8";

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.padre
{
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

.imagenPrincipal
{
    opacity: 0.7;
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: -20px;
    width: 100px;
    height: 100px;
    vertical-align: top;
}
.imagenPrincipal:hover
{
	opacity: 1;
}
.encabezado
{
	width:100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}
.encabezado nav 
{
	width:100%;

	border-bottom: 2px solid rgba(240, 231, 214, .7);
    background-color: rgba(88,248,232, .5);
    border-radius: 10px;
    padding: 0px;

	/* Flexbox */
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.encabezado nav a
{
	font-size: 2em;
	color: rgba(254,248,186, .8);
	border: 2px solid rgba(240, 231, 214, 0);
	text-decoration: none;
    font-family:'oswald', sans-serif;
    font-weight: bold;
    padding:10px;

	/* Flexbox */
	flex-grow:1;
}
.encabezado nav a:hover
{
     cursor: pointer;
     background-color: rgba(254,248,186, .5);
     color: rgba(88,248,232, 1);
     cursor: pointer;
     transition: all 0.3s ease;
}
.main
{
	padding:20px;
	flex:1 1 70%;
}
/*----------------------------------------------------------------------------------*/
section
{
	display: block;
	width: 70.5%;
}
section .historia, section .hardware
{
    display: block;
	width: 300px;
	height: 324px;
	margin-left: 25px;
	margin-top: 20px;
	border-radius: 10px;
	background-color: black;
	overflow: hidden;
	text-align: center;
	float: left;
}
section .historia p, section .hardware p
{
	display: block;
	text-align: center;
	color: rgba(254,248,186, .8);
	border-radius: 10px;
	font-size: 1.4em;
	padding: 10px;
}
section .historia .pcOne, section .hardware .imageHardware
{
	opacity: 1;
	display: block;
	width: 290px;
	height: 270px;
	position: absolute;
	border-radius: 10px;
	transition: all 0.4s ease-in-out;
}
section .historia h1, section .hardware h1
{
	font-size: 20px;
	padding: 8px;
	color: white;
	background-color: black;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}
section .historia .descripcion_1, section .hardware .descripcion_2
{
	font-size: 1.2em;
    margin: 10px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
	transform: scale(0);
}
section .historia a
{
	display: inline-block;
	padding:10px;
	background-color: black;
	color: white;
	text-decoration:none;
	z-index: 2;
    margin: auto;
    transition: all 0.4s ease-in-out;
	transform: scale(0); 
}
section .historia a:hover 
{
	background-color: #ccc;
	color:black;
	cursor:pointer;
}
section .historia:hover .pcOne
{
	opacity: 0;
	transform: translateY(-150px);
}
section .historia:hover h1, section .historia:hover .descripcion_1, section .historia:hover a 
{
	opacity: 1;
   transform: scale(1);
}
section .historia:hover{
box-shadow: 2px 3px 5px 2px green;
}

section .historia:hover
{
	box-shadow: 2px 2px 2px 2px rgba(88,248,232, .5);
	transition: all 0.3s ease;
}
section .historia:hover p
{
	opacity: 0;
}
/*----------------------------------------------------------------------------------------------------------*/
/*BANNER  DOS*/
section .banner2
{
    display: block;
	width: 300px;
	height: 324px;
	margin-left: 25px;
	margin-top: 20px;
	border-radius: 10px;
	background-color: black;
	overflow: hidden;
	text-align: center;
	float: left;	
}
section .banner2 p
{
	display: block;
	text-align: center;
	color: rgba(254,248,186, .8);
	border-radius: 10px;
	font-size: 1.4em;
	padding: 10px;
}
section .banner2 .pcOne
{
	opacity: 1;
	display: block;
	width: 270px;
	height: 260px;
	position: absolute;
	border-radius: 10px;
	transition: all 0.4s ease-in-out;
}
section .banner2 h1
{
	font-size: 20px;
	padding: 8px;
	color: white;
	background-color: black;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}
section .banner2 .descripcion_1
{
	font-size: 1.2em;
    margin: 10px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
	transform: scale(0);
}
section .banner2 a
{
	display: inline-block;
	padding:10px;
	background-color: black;
	color: white;
	text-decoration:none;
	z-index: 2;
    margin: auto;
    transition: all 0.4s ease-in-out;
	transform: scale(0); 
}
section .banner2 a:hover 
{
	background-color: #ccc;
	color:black;
	cursor:pointer;
}
section .banner2:hover .pcOne
{
	opacity: 0;
	transform: rotate(60deg);
}
section .banner2:hover h1, section .banner2:hover .descripcion_1, section .banner2:hover a 
{
	opacity: 1;
   transform: scale(1);
}
section .banner2:hover{
box-shadow: 2px 3px 5px 2px green;
}

section .banner2:hover
{
	box-shadow: 2px 2px 2px 2px rgba(88,248,232, .5);
	transition: all 0.3s ease;
}
section .banner2:hover p
{
	opacity: 0;
}
/*----------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}

	#cabeza {
		flex-direction:column;
		padding:0;
	}
	#cabeza nav {
		width: 100%;
		margin-bottom: 15px;
	}
}