@CHARSET "UTF-8";

* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.color-p{
	color:#f60;
}

.padre 
{
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}

body {
	background-attachment: fixed;
	background-size: cover;
	font-size: 16px;
	font-family:'oswald', sans-serif;
}

#cabeza {
	background:#fff;
	width:100%;
	padding:5px 20px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
	border-bottom: 1px solid gray;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

#cabeza .logo 
{
	color:#fff;
	font-size:40px;
}

#cabeza .logo img 
{
	height: 40px;
}

#cabeza .logo a {
	color:#fff;
	text-decoration: none;
	line-height:50px;
	vertical-align: top;
}

#cabeza nav {
	width:35%;
	border-radius: 4px;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

#cabeza nav a {
	color:#666;
	text-align: center;
	text-decoration: none;

	/* Flexbox */
	flex-grow:1;
}

#cabeza nav a:hover {
	color:#f60;
}


#botonLogin
{
	border: 1px solid #f60;
	color: #f60 !important;
}

#botonLogin:hover
{
	background: #f60;
	color: #fff !important;
}

.main {
	background:#f8f9fa;
	padding:20px;
	min-height: 600px;
	flex:1 1 70%;
	/*flex:1;*/
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}

.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

aside {
	background:#e67e22;
	padding:20px;
	/*FLEX*/
	flex:1 1 30%;
	/*flex:0 0 300px;*/

	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}

aside .widget {
	background: #d35400;
	height:150px;
	margin:10px;
}

#pies {
	background:#666;
	width: 100%;
	padding:20px;
	color: #fff;
	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

#pies .links {
	background:#c0392b;
	display:flex;
	flex-wrap:wrap;
}

#pies .links a {
	flex-grow:1;

	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}

#pies .links a:hover {
	color: #ddd;
}

#pies .social {
	
}

#pies .social a {
	color:#fff;
	font-size:25px;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}

#pies .social a:hover {
	color: #d5d5d5;
}

/*---------------------------------------------------------------------------------------------------*/

#articleF
{
	display: block;
	margin: 10px auto;
	padding: 10px;
	width: 100%;
	font-size: 16px;
	line-height: 23px;
}

#titulo
{
	display: block;
	text-align: center;
	padding: 15px;
	color: rgba(88,248,232, .7);
	font-size:20px;
}

@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}

	#cabeza {
		flex-direction:column;
		padding:0;
	}

	#cabeza .logo {
		margin:20px 0;
	}

	#cabeza nav {
		width: 100%;
	}

	aside {
		flex-direction:column;
	}

	aside .widget {
		flex-grow:1;
	}
}

@media screen and (max-width: 600px) {

	#pies {
		justify-content:space-around;
	}
}